# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# venv
.venv/
venv/
env/

# PyInstaller
*.spec

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Banco local de teste (não versionar)
*.db
*.db-wal
*.db-shm
